.header
{
    background-color: #fafafa;
    border-radius: 7px;
}

.footer
{
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
}

.width-full
{
    width:100%;
    background-color: #000000;
    color: #ffffff;
    height: 20px;
}

.navigation
{
    background-color: #c2c2c2; 
    width:100%;
    border-radius: 7px;
    padding:5px 0 0 0;
    position: fixed;
}

.nav-button
{
     background-color: #000f12; 
}

.nav-button:hover
{
    background-color:  #ffffaa; 
}

.component-margin-top
{
    padding: 10px;
    width: auto;
    height: 100%;
    overflow-y: scroll;
}

.background-setup
{
    background-color: #cfffff;
    border-radius: 7px;
    height: 100%;
}

.buttons
{
    background-color: #c2c2c2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 70px;
    height:30px;
    border-radius: 6px;
    margin-left: 10px;
    margin-bottom: 4px;
}

.buttons:hover
{
    background-color: #c9c9c9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
